<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Constitution Quizzer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBA7D2E21F34F719003F473C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBA7D2F01F34F733003F473C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCB72BE1E1322DE00F4B6F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCB72D51E1322DF00F4B6F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCB72E01E1322DF00F4B6F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
